/*
========================================================================================
    GBIF phylogenetic diversity pipeline config
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/



docker.enabled = true
