/*
========================================================================================
    GBIF phylogenetic diversity pipeline config
========================================================================================
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/



docker.enabled = true


// Process params (+ specific Docker containers)
process {

    // Occurrence filtering, stage I
    withName:occ_filter{
        cpus = 8
    }

    // Outlier filtering, stage II - without DBSCAN, all low abundant species
    withName:outl_low{
        cpus = 5
    }

    // Outlier filtering, stage II - with DBSCAN, independently by species
    withName:outl_high{
        cpus = 5
    }

    // Merge filtered species occurrences and prep data for Biodiverse
    withName:merge_occ{
        cpus = 8
    }

    // Create Biodiverse input files
    withName:prep_biodiv {
        cpus = 1
    }

    // Estimate phylogenetic diversity with Biodiverse
    withName:prep_biodiv {
        cpus = 1
    }

    // Export Biodiverse results into CSV
    withName:div_to_csv {
        cpus = 1
    }

}  // end of process configs




// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

