
process {
  executor = 'azurebatch'

  withLabel: 'container_r' {
    container = 'biodivcontainers.azurecr.io/rarrow:0.0.1'
  }

  withLabel: 'container_biodiverse' {
    container = 'biodivcontainers.azurecr.io/biodiverse:0.0.1'
  }

}


azure {

  registry {
      server =  'docker.io'
      userName =  ''
      password =  ''
    }

  storage {
    accountName = "nextflowtest"
    accountKey = ""
  }

  batch {
    location = 'westeurope'
    accountName = 'nextflowtest'
    accountKey = '' 
    autoPoolMode = true
    pools {
      auto {
        vmType = 'Standard_D32s_v3'
        autoScale = true
        }
    }
    endpoint = 'https://nextflowtest.westeurope.batch.azure.com'
    deleteJobsOnCompletion = true
    deletePoolsOnCompletion = true
  }
}


profiles {

  azurekube{
     process.executor = 'k8s'
     process.scratch = true
     k8s {
        debug.yaml = true
        storageClaimName = 'my-azurefile'
        storageMountPath = '/mnt/nextflow'
        }
  }
}

