
process {
  executor = 'azurebatch'
}


azure {

  storage {
    accountName = "pdbatchstorage"
    accountKey = "$AZURE_STORAGE_ACCOUNT_KEY"
  }

  batch {
    location = 'westeurope'
    accountName = 'pdbatch'
    accountKey = '$AZURE_BATCH_ACCOUNT_KEY'

    autoPoolMode = true

    // For named pools
    // allowPoolCreation=true

    deletePoolsOnCompletion=true

    // Computing nodes pools
    pools {

      auto {
        autoScale = true
        vmType = 'Standard_D2_v2'
        vmCount = 1
        maxVmCount = 1
      }

      // // Named pools
      // foo {
      //   vmType = 'Standard_D2_v2'
      //   vmCount = 10
      // }
      //
      // bar {
      //   vmType = 'Standard_E2_v3'
      //   vmCount = 5
      // }
    }
  }
}
