
// Container specifications for Docker profile

process {

    withLabel: 'container_r' {
        container = 'vmikk/rarrow:1.3.0'
    }

    withLabel: 'container_biodiverse' {
        container = 'vmikk/biodiverse:1.3.0'
    }

    withLabel: 'container_ott' {
        container = 'vmikk/opentree:1.4.0'
    }

}
