/*
This file includes default values for the pipeline parameters
*/

params {

    // PhyloNext-specific parameters

    scripts_path = "${projectDir}/bin"
    data_path    = "${projectDir}/pipeline_data"

    // Filtering, stage I - "10_Filter_occurrences.R"
    input              = null
    outdir             = "${launchDir}/results"

    phylum             = "NA"
    classis            = "NA"  // `class` is a reserved word?
    order              = "NA"
    family             = "NA"
    genus              = "NA"
    specieskeys        = null

    country            = null
    latmin             = null
    latmax             = null
    lonmin             = null
    lonmax             = null
    minyear            = 1945
    noextinct          = null  // params.data_path + "/Fossil_IDs.RData"
    roundcoords        = 2     // set to negative to disable rounding
    dbscannoccurrences = 30
    excludehuman       = true  // exclude genus "Homo"

    // Filtering, stage II - "11_Additional_filtering_and_aggregation.R"
    h3resolution       = 4
    dbscan             = false
    dbscanepsilon      = 1500
    dbscanminpts       = 3
    terrestrial        = data_path + "/Land_Buffered_025_dgr.RData"
    wgsrpd             = null    // data_path + "/WGSRPD.RData"
    regions            = null
    rmcountrycentroids = null    // pipeline_data/CC_CountryCentroids_buf_1000m.RData
    rmcountrycapitals  = null    // pipeline_data/CC_Capitals_buf_10000m.RData
    rminstitutions     = null    // pipeline_data/CC_Institutions_buf_100m.RData
    rmurban            = null    // pipeline_data/CC_Urban.RData

    // Derived dataset (could be disabled for non-GBIF data)
    deriveddataset     = true

    // Filtered data aggregation - "12_Prepare_Biodiverse_input.R"
    phytree   = null
    taxgroup  = "All_life"
    phylabels = "Latin"

    // Biodiverse
    indices   = "calc_richness,calc_simpson_shannon,calc_endemism_whole,calc_pd,calc_pe,calc_phylo_rpd1,calc_phylo_rpd2,calc_phylo_rpe1,calc_phylo_rpe2"
    randname          = "rand_structured"
    iterations        = 1000
    biodiversethreads = 10

    // Visualization - static
    plotvar    = "RICHNESS_ALL,PD,PD_P"
    plotformat = "pdf"
    plottype   = "raw"
    plotwidth  = 18
    plotheight = 18
    plotunits  = "in"
    world      = data_path + "/WorldMap_NaturalEarth_Medium.RData"

    // Visualization - Leaflet
    leaflet_var        = "RICHNESS_ALL,PD,SES_PD,PD_P,ENDW_WE,SES_ENDW_WE,PE_WE,SES_PE_WE,CANAPE,Redundancy"
    leaflet_palette    = "quantile"
    leaflet_color      = "RdYlBu"
    leaflet_bins       = 5
    leaflet_redundancy = 0


    // Help message flag
    helpMsg = false



    // Generic Parameters
    help                = null
    sleep_time          = 5
    validate_params     = true
    // help_all         = false

    // Boilerplate options
    tracedir            = "${params.outdir}/pipeline_info"
    email               = null
    email_on_fail       = null
    plaintext_email     = false


    //// The other parameters

    // Max Job Request Parameters
    max_time              = 240
    max_memory            = 32
    max_cpus              = 8
    // max_retry          = 3
    // min_time           = 60
    // max_downloads      = 3

    // Nextflow Configuration Parameters
    // force              = false
    // cleanup_workdir    = false

    // Nextflow Profile Parameters
    // condadir           = "${baseDir}/conda/envs"
    // use_mamba          = false
    // registry           = "quay"
    // singularity_cache  = "$HOME/.phylonext/singularity"
    // singularity_pull_docker_container = false
    // force_rebuild      = false

    // nf-core
    monochrome_logs    = false
    enable_conda       = false
    show_hidden_params = false

    // Parameters to ignore
    // build_all          = false
    // include_tools      = null
    // verbose            = null
    // silent             = null

}
