
// Container specifications for Singularity profile

// Default images are hosted at the Singularity Library repository
// https://cloud.sylabs.io/library/

// If you want Nextflow to use local file images, 
// prefix the container name with the `file://` pseudo-protocol
// E.g.,
// container = 'file:///path/to/singularity.img'


process {

    withLabel: 'container_r' {
        container = 'library://vmiks/gbif/rarrow:1-3-0'
    }

    withLabel: 'container_biodiverse' {
        container = 'library://vmiks/gbif/biodiverse:1-3-0'
    }

    withLabel: 'container_ott' {
        container = 'library://vmiks/gbif/opentree:0-0-2'
    }

}


