/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run vmikk/biodiverse-scripts -r main -profile test

----------------------------------------------------------------------------------------
*/


// Input data
params.input  = "${projectDir}/test_data/test_config/"

// Test profile parameters
params.class = "Mammalia"
params.family = "Felidae,Canidae"
params.country = "DE,PL,CZ"
params.minyear = 2000
params.dbscan = true
params.dbscanepsilon = 700
params.dbscanminpts = 3
params.phytree = "${projectDir}/test_data/phy_trees/Mammals.nwk"
params.taxgroup = "All_life"
params.indices = "calc_richness,calc_simpson_shannon,calc_endemism_whole,calc_pd,calc_pe,calc_phylo_rpd1,calc_phylo_rpd2,calc_phylo_rpe1,calc_phylo_rpe2,calc_phylo_mpd_mntd2"
params.randname = "rand_structured"
params.iterations = 20
params.outdir = "${launchDir}"


// Process params
process {

    // Use just a single CPU for all processes
    cpus = 1

    // // except the occurrence filtering (stage I) process
    // withName:occ_filter{
    //     cpus = 2
    // }

}

