/*
================================================================================
    Nextflow config file for running minimal tests 
    using automatic retrival of phylogenetic tree from Open Tree of Life
================================================================================

    Use as follows:
        nextflow run vmikk/phylonext -r main -profile test_ott,docker

--------------------------------------------------------------------------------
*/


// Input data
params.input  = "${projectDir}/test_data/test_config/"

// Test profile parameters
params.class = "Mammalia"
params.family = "Felidae,Canidae"
params.country = "DE,PL,CZ"
params.minyear = 2000
params.wgsrpd = null
params.regions = "NA"
params.dbscan = true
params.dbscanepsilon = 700
params.dbscanminpts = 3
// params.phytree = null
params.taxgroup = "Mammals"
params.phylabels = "Latin"
params.indices = "calc_richness,calc_simpson_shannon,calc_endemism_whole,calc_pd,calc_pe,calc_phylo_corrected_weighted_endemism,calc_phylo_rpd2,calc_phylo_rpe2"
params.leaflet_var = "RICHNESS_ALL,PD,SES_PD,ENDW_WE,SES_ENDW_WE,PE_WE,SES_PE_WE,PE_CWE,SES_PE_CWE,PHYLO_RPD2,PHYLO_RPE2,CANAPE,Redundancy"
params.randname = "rand_structured"
params.iterations = 20
params.biodiversethreads = 1
params.outdir = "${launchDir}"


// // Limit resources
// executor {
// 
//   $local {
//     cpus = 1
//     // max_memory = '1.GB'
//     // max_time   = '1.h'
//   }
// 
// }


// Process params
process {

    // Use just a single CPU for all processes (does not work)
    // cpus = 1

    // Occurrence filtering, stage I
    withName:occ_filter{
        cpus = 1
    }

    // Counting the total number of records per H3 cell
    withName:record_count{
        cpus = 1
    }

    // Prepare a list of DOIs for the GBIF datasets
    withName:derived_datasets {
        cpus = 1
    }

    // Outlier filtering, stage II - without DBSCAN, all low abundant species
    withName:outl_low{
        cpus = 1
    }

    // Outlier filtering, stage II - with DBSCAN, independently by species
    withName:outl_high{
        cpus = 1
    }

    // Prepare a list of OpenTree IDs
    withName:prep_ott_ids{
        cpus = 1
    }

    // Get an induced subtree from OpenTree
    withName:get_ott_tree{
        cpus = 1
    }

    // Merge filtered species occurrences and prep data for Biodiverse
    withName:merge_occ{
        cpus = 1
    }

    // Create Biodiverse input files
    // and estimate observed phylogenetic diversity
    withName:prep_biodiv {
        cpus = 1
    }

    // Perform Biodiverse randomizations
    withName:phylodiv {
        cpus = 1
    }

    // Prepare a file with paths of `phylodiv` output
    withName:rand_filelist {
        cpus = 1
    }

    // Aggregate randomization results
    withName:aggregate_rnds_biodiv {
        cpus = 1
    }

    // Export Biodiverse results into CSV
    withName:div_to_csv {
        cpus = 1
    }

    // Plot PD indices (non-interactive maps)
    withName:plot_pd {
        cpus = 1
    }

    // Plot PD indices (interactive map - Leaflet-based choropleth)
    withName:plot_leaflet {
        cpus = 1
    }
}
